.left-sidewide-align, div.left-sidewide-align {
    float: left;
    margin: 10px 10px 5px 0;
}

.right-sidewide-align, div.right-sidewide-align {
    float: right;
    margin: 10px 0 5px 10px
}

.left-sidewide-align ul, .right-sidewide-align ul {
    margin: 0;
    background: #059bd8;
    padding: 10px 30px;
    border: 1px solid #027eb8;
    max-width: 200px;
    color:#b3e9ff;
    list-style-image: url(images/bullet.png);
}

#example1{
    padding:15px;
}
.left-sidewide-align ul a, .right-sidewide-align ul a{
    display: block;
    padding: 5px 10px;
    background: #e1001e;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    text-shadow: 1px 1px 1px #760010;
    text-align: center;
    text-decoration: none;
    width: 110px;
    margin-top: 10px;
}

.left-sidewide-align h3, .right-sidewide-align h3 {
    margin:10px 0 10px -15px;
    color:#fff;
    text-shadow: 1px 1px 1px #01668f;
} 

.left-sidewide-align img, .right-sidewide-align img, .center-sidewide-align img {
    padding:0;
    border-radius: 0px;
    -moz-border-radius: 0px; /* Firefox */
    -webkit-border-radius: 0px; /* Safari, Google Chrome */
    -khtml-border-radius: 0px; /* KHTML */
    -o-border-radius: 0px; /* Opera */
    -ms-border-radius: 0px; /* IE8 */
    -icab-border-radius: 0px; /* Icab */
    border:none;
    background: none;
}

.center-sidewide-align a img, div.center-sidewide-align{
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    text-align: center;
}

.wrap-info-block {
    display:block;
    width:500px;
    background: #d4f2d0;
    border: 1px solid #bdddb9;
    position: absolute;
    right: 50px;
    padding:15px;
}

.wrap-info-block ol {
    margin-left:0;
}

.wrap-info-block li {
    font-style: italic;
    margin-left: 20px;
    padding-left: 15px;
}

.wrap-info-block table {
    border-collapse: collapse;
}

.wrap-info-block td{
    border:1px solid #999;
    padding:2px 5px;
    font-weight: bold;
}

.wrap-info-block td span {
    color: #666;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
}

.wrap-info-block code {
    display:block;
    width:80%;
    font-style: normal;
    margin-left: -15px;
    font-weight: normal;
}

.wrap-info-block td code {
    margin:0;
    width:100%;
}

.wrap_blocks_positions {
    vertical-align: middle;
    padding-left: 15px;
    height:30px;
}

.wrap_blocks_positions img {
    vertical-align: middle;
    padding-left: 10px;
}



/* *********** Small form *********** */

#new-smallform td {
    background: none;
    border:none;
}


span.date_style {
    font-size: 9px;
    display: block;
    margin: 0;
    padding: 0;
}

#new-smallform .selecttitle {
    margin:0;
    padding:0;
    font-style: italic;
}

.blue-smallform td.first {
    padding-left:100px !important;
}

.blue-smallform table {
    margin-top:40px !important;
    margin-bottom: 5px !important;
}

.blue-smallform #new-smallform{
    background: #346187 url(images/new-small-form-bg.png) no-repeat 10px 50%;
    border:1px solid #143d60;
    color:#fff;
    display:block;
    margin:20px auto;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    position:relative;
}

.blue-smallform a#new-small-order-btn {
    display:block;
    width:32px;
    height:32px;
    background: url(images/new-small-form-btn.png) no-repeat 50% 50%;
    margin-left:15px;
    margin-top:-6px;
}

.blue-smallform span.date_style {
    color:#7facd2; 
}



.green-smallform td.first {
    padding-left: 95px !important;
}

.green-smallform table {
    margin-top: 40px !important;
    margin-bottom: 10px !important;
}

.green-smallform #new-smallform{
    background: #348735 url(images/new-small-form-bg.png) no-repeat 10px 50%;
    border:1px solid #1f5418;
    color:#fff;
    display:block;
    margin:20px auto;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    position:relative;

}

.green-smallform a#new-small-order-btn {
    display:block;
    width:32px;
    height:32px;
    background: url(images/new-small-form-btn.png) no-repeat 50% 50%;
    margin-left:15px;
    margin-top:-6px;
}


.green-smallform span.date_style {
    color:#7fd280; 
}

.red-smallform #new-smallform td{
    padding:0;
}

.red-smallform td.first {
    padding-left: 14px !important;
}

.red-smallform table {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

.red-smallform #new-smallform{
    background: #873434;
    border:1px solid #5d292b;
    color:#fff;
    display:block;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    position:relative;
    margin-left:80px;
    min-height: 68px;
}

.red-smallform a#new-small-order-btn {
    display:block;
    width:97px;
    height:33px;
    background: url(images/new-small-form-price-check.png) no-repeat 50% 50%;
}


.red-smallform span.date_style {
    color:#d27f81; 
}
.red-smallform {
    background: url(images/new-small-form-arrow.png) no-repeat 0 50%;
    margin-top:10px;
    margin-bottom:10px;
}

#new-smallorder select {
    height:18px;
    margin:0;
    padding:0;
}

#new-smallwriter {
    display: block;
    width: 368px;
    height: 24px;
    background: url(images/writer.png) no-repeat 0 50%;
    position: absolute;
    top: 15px;
    left: 90px;
}

#writingservices {
    display: block;
    width: 390px;
    height: 24px;
    background: url(images/writing-services.png) no-repeat 0 50%;
    position: absolute;
    top: 15px;
    left: 90px;
}

.trns #new-smallform .selecttitle{
    line-height:21px;
}

.redform table.trns {
    margin-top: 15px !important;
}

.green-smallform table.trns {
    margin-top: 45px !important;
    margin-bottom: 5px !important;
}


#trns_click{
    display: block;
    width: 391px;
    height: 25px;
    background: url(images/trns_click.png) no-repeat 0 50%;
    position: absolute;
    top: 15px;
    left: 90px;
}

#trns_serv{
    display: block;
    width: 390px;
    height: 25px;
    background: url(images/trns_s.png) no-repeat 0 50%;
    position: absolute;
    top: 15px;
    left: 90px;
}

#new-smallform .trns td{
    padding: 0 5px;
}

.red-smallform #mins{
    border: 1px solid #5d292b;
}

.green-smallform #mins{
    border:1px solid #1f5418;
}

.blue-smallform #mins{
    border:1px solid #143d60;
}

.entry .field_wrap{
    display:inline;
}
/*.stts, .form-table{
    width:55%;
    
}*/
.stts input, .stts textarea{
    width:100%;
}
.stts td{
    width:33%;
}



/*admin desight*/
.toplevel_page_sitewide_banners-sitewide #wpbody-content .wrap h2, .toplevel_page_sitewide_banners-sitewide #wpbody-content .wrap h3{
    font-size: 24px;
    color: #fff;
    background:#53c1ed;
    padding: 5px 0px 4px 32px;
    line-height: 1;
}

.toplevel_page_sitewide_banners-sitewide .form-table th {
    vertical-align: top;
    text-align: left;
    padding: 16px 10px 6px 30px;
    color: #585858;
    font-size: 18px;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
    background: #e9f3f7;
}
.button-secondary.add{
    background-image: url(/wp-content/plugins/sitewide_banners/images/add_icon.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 32px;
    background-color: #2ea2cc;
    border: 1px solid #288db2;
    box-shadow: none;
    margin-top: -4px;
    color:#fff;
}
.button-secondary.add:hover{
    background-color: #2ea2cc;
    border: 1px solid #288db2;
    background-image: url(/wp-content/plugins/sitewide_banners/images/add_icon.png);
    color:#fff;
    background-repeat: no-repeat;
    background-position: 12px center;
}

.button-secondary.remove{
    background-image: url(/wp-content/plugins/sitewide_banners/images/remove_icon.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 32px;
    background-color: #2ea2cc;
    border: 1px solid #288db2;
    box-shadow: none;
    margin-top: -4px;
    color:#fff;
    background-repeat: no-repeat;
    background-position: 12px center;
}
.button-secondary.remove:hover{
    background-color: #2ea2cc;
    border: 1px solid #288db2;
    background-image: url(/wp-content/plugins/sitewide_banners/images/remove_icon.png);
    color:#fff;
    background-repeat: no-repeat;
    background-position: 12px center;
}
.toplevel_page_sitewide_banners-sitewide #wpbody-content .wrap table .new_ui_block{
    background:#fff;
}
.toplevel_page_sitewide_banners-sitewide #wpbody-content .wrap table .new_ui_block td{
    padding-left: 30px;
    font-size: 18px;
    color:#7e7e7e;
    vertical-align: top;
}
.spacer_my{
    height:7px;

}
.spacer_my td{
    padding:0px;
}
.toplevel_page_sitewide_banners-sitewide #wpbody-content .wrap table textarea{
    width:310px;
    height:155px;
    resize:none;
    border-radius: 7px;
    -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Google Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    -o-border-radius: 7px; /* Opera */
    -ms-border-radius: 7px; /* IE8 */
    -icab-border-radius: 7px; /* Icab */
}
.toplevel_page_sitewide_banners-sitewide #wpbody-content .wrap table select{
    width: 135px;
    height:25px;
    border-radius: 7px;
    -moz-border-radius: 7px; /* Firefox */
    -webkit-border-radius: 7px; /* Safari, Google Chrome */
    -khtml-border-radius: 7px; /* KHTML */
    -o-border-radius: 7px; /* Opera */
    -ms-border-radius: 7px; /* IE8 */
    -icab-border-radius: 7px; /* Icab */
}

.button-secondary.del{
    background-image: url(/wp-content/plugins/sitewide_banners/images/del_icon.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 32px;
    background-color: #afafaf;
    border: 1px solid #afafaf;
    box-shadow: none;
    margin-top: -4px;
    color:#fff;
    background-repeat: no-repeat;
    background-position: 12px center;
    margin-top: 11px;

}
.button-secondary.del:hover{
    background-color: #afafaf;
    border: 1px solid #afafaf;
    background-image: url(/wp-content/plugins/sitewide_banners/images/del_icon.png);
    color:#fff;
    background-repeat: no-repeat;
    background-position: 12px center;
}
.display_opt{
    width:100% !important;
    border-spacing: 0px;
    border:5px solid #53c1ed;
}

.toplevel_page_sitewide_banners-sitewide #wpbody-content .wrap h3{
    margin-bottom: 0px;
}
.display_opt td{
    color: #585858;
    width:50%;
    font-size: 18px;
    /*padding: 10px 0px 10px 30px;*/
    padding-left: 30px;
}
.display_opt td textarea{
    width:100% !important;
    border-radius: 0px !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -khtml-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -icab-border-radius: 0px !important;
    border:none !important;
    padding-left: 30px !important;
}
.opt_select select{
    width: 94% !important;
    padding: 0px 20px !important;
}
/*end of admin design*/

/*admin moment examples*/

.aleft{
    float:left;
}
.aright{
    float:right;
}
.aabove{
    display:block;
    margin:0 auto;
}
.abelow{
    display:block;
    margin:0 auto;
}


/* 
Admin display settings

*/

#display_poststuff .inside div{
    display:inline-block;
    vertical-align:top;

}
#display_poststuff .inside.faq_banners div:first-child {
    margin-right: 30px;
}

#display_poststuff .inside label, #display_poststuff .inside select{
    display:block;
    height:30px;
    margin-bottom:20px;
    font-size: 15px;
    background-position: 435px 12px;
}
#display_poststuff .inside textarea{
    width:100%;

}
body #header.homepage{
    background-repeat: repeat;
}

.sitewide_warning {
    border: 2px solid #FBE400;
}

.mobile_content_block {
    display: none;
}

.desktop_content_block textarea, .mobile_content_block textarea {
    width: 100%;
    height: 90px;
    background: #eceff4;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    outline: none;
    box-shadow: none;
    padding: 15px;
    border-color: #cad3df;
    color:#8493a8
}

.desktop_content_block textarea:focus, .mobile_content_block textarea:focus {
    border:1px solid #0082d5;
    background: #fff;
}


.toplevel_page_sitewide .wrap {
    margin: 0 auto;
    width: 1168px;
}

.toplevel_page_sitewide .block_example {
    background: #b3e5fc;
    border: 0px;
    text-transform: uppercase;
    color: #03a9f4;
    width: 225px;
    height: 75px;
    line-height: 5;
}

.toplevel_page_sitewide #postimagediv p {
    font-size: 15px;
}

.toplevel_page_sitewide th, .toplevel_page_sitewide p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.toplevel_page_sitewide td {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #8493a8;
}

.toplevel_page_sitewide tr:first-child td {
    padding-top: 25px;
}

.toplevel_page_sitewide tr:last-child td {
    padding-bottom: 25px;
}

.toplevel_page_sitewide h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
}

.toplevel_page_sitewide table label {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.4px;
}

.toplevel_page_sitewide .widefat thead th {
    text-transform: uppercase;
    background-color: #03a9f4;
    padding: 22px 21px 21px 10px;
    color: #fff;
}

.toplevel_page_sitewide .widefat thead th:first-child {
    border-top-left-radius: 5px;
    text-align: center;
}

.toplevel_page_sitewide .widefat thead th:last-child {
    border-top-right-radius: 5px;
}

.toplevel_page_sitewide table {
    border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px; /* Firefox */
    -webkit-border-radius: 7px 7px 0px 0px; /* Safari, Google Chrome */
    -khtml-border-radius: 7px 7px 0px 0px; /* KHTML */
    -o-border-radius: 7px 7px 0px 0px; /* Opera */
    -ms-border-radius: 7px 7px 0px 0px; /* IE8 */
    -icab-border-radius: 7px 7px 0px 0px; /* Icab */
}

.toplevel_page_sitewide table .block_wrap {
    padding: 24px 4px 0 60px;
    font-size: 15px;
}

.toplevel_page_sitewide .dropdown {
    width: 176px;
    height: 35px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -icab-border-radius: 5px;
    background: #eceff4;
    border: 1px solid #cad3df;
    font-weight: 300;
    padding: 4px 12px;
    font-size: 15px;
    color: #8493a8;
    outline: none;
    box-shadow: none;
    background: url(/wp-content/plugins/sitewide/assets/images/sitewide_select_arrow.png) no-repeat 153px 15px #ECEFF4;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    line-height: 1.4;
}

.toplevel_page_sitewide select::-ms-expand {
    display: none;
}

.toplevel_page_sitewide .dropdown.open {
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -icab-border-radius: 5px 5px 0px 0px;
    border-color: #8493a8;
}

.toplevel_page_sitewide .dropdown .selected {
    color:#8493a8;
    font-size: 15px;
}

.toplevel_page_sitewide .dropdown .selected::after {
    box-shadow: none;
}

.toplevel_page_sitewide .dropdown ul {
    margin: 0;
}

.toplevel_page_sitewide .dropdown li {
    list-style: none;
    padding: 14px 12px;
    margin-bottom: 0;
    color: #8493a8;
}

.toplevel_page_sitewide .dropdown li.active {
    font-weight: 400;
}

.toplevel_page_sitewide .dropdown li.focus {
    background: #8493a8;
    color: #fff;
}

.toplevel_page_sitewide .dropdown:hover, 
.toplevel_page_sitewide .dropdown:active, 
.toplevel_page_sitewide .dropdown.focus {
    box-shadow: none;
}

.toplevel_page_sitewide .dropdown div {
    border: 1px solid #8493a8;
    border-top: 0px;
    background: #eceff4;
}

.toplevel_page_sitewide #desktop_content_btn,
.toplevel_page_sitewide #mobile_content_btn{
    width: 25px;
    height: 25px;
    font-size: 20px;
    vertical-align: middle;
}

.toplevel_page_sitewide #desktop_content_btn:before,
.toplevel_page_sitewide #mobile_content_btn:before {
    width: 9px;
    height: 9px;
    margin: 7px;
}

.toplevel_page_sitewide table label {
    line-height: 2;
}

.toplevel_page_sitewide table .remove_box {
    background: url(/wp-content/plugins/sitewide/assets/images/sitewide_delete_block_bg.png) no-repeat left center;
    display: block;
    height: 35px;
    padding-left: 30px;
    line-height: 2.7;
    color: #54657e;
    font-weight: 300;
    font-size: 15px;
    transition: all 0.2s;
    width: 60px;
}

.toplevel_page_sitewide table a.remove_box:hover {
    color: #F96161;
}

.toplevel_page_sitewide table .dropdown .carat {
    background: url(/wp-content/plugins/sitewide/assets/images/sitewide_select_arrow.png) no-repeat left center;
    border: 0;
    width: 15px;
    height: 15px;
    margin: -6px;
    transition: all 0.3s;
}

.toplevel_page_sitewide table .dropdown.open .carat {
    background: url(/wp-content/plugins/sitewide/assets/images/sitewide_select_arrow.png) no-repeat left center;
    margin: -6px;
    -webkit-transform: rotateX(150deg); /* Safari */
    transform: rotateX(150deg);
}

.toplevel_page_sitewide #add_block, .toplevel_page_sitewide .save_changes {
    width: 156px;
    height: 45px;
    box-shadow: none;
    border: 0px;
    margin: 0px 10px 0 0;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -icab-border-radius: 5px;
}

.toplevel_page_sitewide .save_changes {
    background: #04be5b;
}

.toplevel_page_sitewide .save_changes:hover {
    background: #02A54E;
}

.toplevel_page_sitewide #add_block {
    background: #0082d5;
}

.toplevel_page_sitewide #add_block:hover {
    background: #0070B7;
}

.toplevel_page_sitewide .banners_list_submit {
    margin-bottom: 95px;
}

.toplevel_page_sitewide #postimagediv .sitewide_block_title {
    background: #03a9f4;
    margin: 0;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -icab-border-radius: 5px 5px 0px 0px;
    font-size: 18px;
}

.toplevel_page_sitewide #postimagediv {
    border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px; /* Firefox */
    -webkit-border-radius: 7px 7px 0px 0px; /* Safari, Google Chrome */
    -khtml-border-radius: 7px 7px 0px 0px; /* KHTML */
    -o-border-radius: 7px 7px 0px 0px; /* Opera */
    -ms-border-radius: 7px 7px 0px 0px; /* IE8 */
    -icab-border-radius: 7px 7px 0px 0px; /* Icab */
}

.toplevel_page_sitewide .sitewide_display_block {
    position: relative;
    //float: left;
    padding: 0;
    margin: 0;
    margin-top: 32px;
}

.toplevel_page_sitewide .sitewide_display_block_blocks {
    width: 150px;
    height: 250px;
    border-right: 1px solid #cad3df;
    margin-right: 25px;
    margin-top: 0px;
}

.toplevel_page_sitewide .sitewide_display_block_slugs {
    width: 470px;
}

.toplevel_page_sitewide .sitewide_display_block_ids {
    width: 470px;
}

.toplevel_page_sitewide .sitewide_display_block_ids .dropdown {
    width: 460px;
    margin-bottom: 15px
}

.toplevel_page_sitewide #postimagediv .sitewide_display_block textarea {
    width: 460px;
    max-width: 460px;
    height: 95px;
    background: #eceff4;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -icab-border-radius: 5px;
    outline: none;
    box-shadow: none;
    padding: 15px;
    border-color: #cad3df;
    color:#8493a8
}

.toplevel_page_sitewide #postimagediv .sitewide_display_block textarea:focus {
    border:1px solid #0082d5;
    background: #fff;
}

.toplevel_page_sitewide .display_sttings .inside {
    margin: 0;
    padding: 0;
}

.toplevel_page_sitewide ul.banner_lists li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.toplevel_page_sitewide .faq_list {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.toplevel_page_sitewide .inside.faq_banners * {
    font-size: 15px;
}

.toplevel_page_sitewide .sitewide_example .inside {
    padding: 0 85px 50px;
}

.toplevel_page_sitewide #display_poststuff.banner_list .postbox .inside, 
.toplevel_page_sitewide #display_poststuff.faq_list .postbox .inside {
    padding: 0 25px 12px;
}

.toplevel_page_sitewide .inside.faq_banners {
    box-sizing: border-box;
}